apiVersion: apps/v1
kind: Deployment
metadata:
  name: nlp-api-deployment
  labels:
    app: nlp-api
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nlp-api
  template:
    metadata:
      labels:
        app: nlp-api
    spec:
      containers:
        - name: nlp-api-container
          image: derekdw/nlp-api:latest
          ports:
            - containerPort: 80
          resources:
            limits:
              memory: "512Mi"
              cpu: "500m"
            requests:
              memory: "256Mi"
              cpu: "250m"
